td.furaccs{
        border:2px solid gray;
        cursor: pointer;
        }
        
        .frSub,.drSub{
         cursor: pointer;   
        }
        
        #frViewAll, #drViewAll{
        text-decoration: underline;
        color:black;
        cursor: pointer;
        }
            
        #mask {
        position:absolute;
        left:0;
        top:0;
        background-color:#000;
        display:none;
        }
  
        #boxes .popwindow {
          position:absolute;
          z-index:9999;
        }

        #boxes #dialog { 
          height:auto;
          padding:10px;
          background-color:#ffffff;
          font-size: 15pt;
        }
        
        #closeimg{
         text-align: right;
        }
