table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #A4A4A4;
    font: bold 0.9em/1em sans-serif;
    padding-right: 20px;
    padding-left: 20px;
    height: 45px;
    color: white;
    text-align: center;
    cursor: text;
}

/*table.tablesorter{
    background-color: #FAFAFA;
}*/

table.tablesorter tbody td {
    color: black;
    padding: 5px;
    vertical-align: middle;
    font: 0.9em/1.6em Sans-serif;
    text-align: center;
}

table.tablesorter tbody tr.even td {
    background-color: #f2f2f2;
}

table.tablesorter tbody tr.odd td {
    background-color: #D8D8D8;
}

#insured_list tr td:last-child, #insured_list tr th:last-child{
    background-color: white;
    border: none;
}

.assignButt{
    font: 0.9em/1.25em sans-serif;
    cursor: pointer;
    height: 25px;
    color: white;
    background: red;
    width: 80px;
    border: none;   
}
.assignButt:hover{
    background-color: #4c4c4c;
}

.designerSelect{
    width: 145px;
    height: 24px;
    border-radius: 3px;
    background: white; 
    border: 1px solid black;
    font: 0.9em/1.0em Sans-serif; 
    text-align: center; 
    vertical-align: middle;
    padding-top: 2px;
}


.pg-normal{
color: #00a9f1;
text-transform:uppercase;
background:white;
border: white 1px solid ;
overflow:visible;
width:110px;
padding-right:10px;
padding-left:10px;
cursor:pointer;
font:bold 0.8em/1.5em Arial;
outline: none; 
}

.pg-normal:hover{
color: blue;
text-transform:uppercase;
background:white;
border: white 1px solid ;
overflow:visible;
width:110px;
padding-right:10px;
padding-left:10px;
cursor:pointer;
outline: none; 
}

.paginated{
width:800px;
font-size:.8em;
font-family:arial,sans-serif;
border:1px solid #ccc;
border-bottom:none;
border-right:none;
outline: none; 
}
