/* tables */
table.tablesorter {
font-family:arial;
background-color: white;
margin:10px 0pt 15px;
font-size: 10pt;
width: 100%;
text-align: center;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
background-color: #a5a5a5;
font: bold 1.1em/1em sans-serif;
padding-right: 20px;
padding-left: 20px;
height: 30px;
color: white;
white-space: nowrap;
text-align: center;
cursor: text;
border: 2px solid white;
text-shadow: 0px 2px 2px #555;
}


table.tablesorter tbody td {
color: black;
padding: 7px;
vertical-align: middle;
font: 500 1.07em/1.6em Sans-serif;
border: 2px solid white;

}


table.tablesorter tr:nth-child(even) td{background: #f0f0f0;}

table.tablesorter tr:nth-child(odd) td{background: #e0e0e0;}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #595959;
}

.pg-normal{
color: #00a9f1;
text-transform:uppercase;
background:white;
border: white 1px solid ;
overflow:visible;
width:110px;
padding-right:10px;
padding-left:10px;
cursor:pointer;
font:bold 0.8em/1.5em Arial;
outline: none; 
}

.pg-normal:hover{
color: blue;
text-transform:uppercase;
background:white;
border: white 1px solid ;
overflow:visible;
width:110px;
padding-right:10px;
padding-left:10px;
cursor:pointer;
outline: none; 
}

.paginated{
width:800px;
font-size:.8em;
font-family:arial,sans-serif;
border:1px solid #ccc;
border-bottom:none;
border-right:none;
outline: none; 
}


/*Radio Button coding */

 #insured_list tr td:first-child, #insured_list tr th:first-child{
       background-color: white;
       border: none;
       text-align: right;
       }
           
      label input[type="radio"] {
        display: none;
      }
      
      label input[type="radio"] ~ span {
        position: relative;
        display: inline-block;
        padding-left: 0px;
      }
      
      label input[type="radio"] ~ span:before {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        background: white;
        border: 2px solid #3c3c3c;
        border-radius: 50%;
        left: 0;
        top: 0;
        box-sizing: border-box;
        cursor: pointer;
      }
      
      label input[type="radio"]:checked ~ span:before {
        background-color: #ff3f3f;
         border: 2px solid red;
      }