/* div.shopViewProductsClass { 
	text-decoration: none; cursor: pointer; border: 2px solid gray; width: 170px; height: 150px; padding: 10px;
}	
	
div.shopViewProductsClass:hover {
	cursor:pointer; border: 2px solid red; 
} */