/* tables */
table.tablesorter {
background-color: white;
margin:10px 0pt 10px;
width: 975px;
text-align: center;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
font: bold 0.95em/1.25em Georgia; letter-spacing: 2px; color: black; text-align: center; text-transform: uppercase;
padding: 5px;
height: 25px;
color: black;
text-align: center;
cursor: text;
border-bottom: 1px solid black;
}


table.tablesorter tbody td {
padding-left: 5px; padding-right: 5px; padding-top: 15px; padding-bottom: 15px;
vertical-align: middle;
font: 0.95em/1.25em Georgia; letter-spacing: 2px; color: black; text-align: center; text-transform: uppercase;
border-bottom: 1px solid #696969;

}


table.tablesorter tr:nth-child(even) td{background: white;}

table.tablesorter tr:nth-child(odd) td{background: white;}

table.tablesorter thead tr .headerSortUp {
background-image: url(/lnadmin/resources/images/arrow-up.gif);
}

table.tablesorter thead tr .headerSortDown {
background-image: url(/lnadmin/resources/images/arrow-down.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #595959;
}

.pg-normal{
color: red;
text-transform:uppercase;
background:white;
border: white 1px solid ;
overflow:visible;
width:110px;
padding-right:10px;
padding-left:10px;
cursor:pointer;
font:bold 0.8em/1.5em Georgia;
outline: none; 
}

.pg-normal:hover{
color: blue;
text-transform:uppercase;
background:white;
border: white 1px solid ;
overflow:visible;
width:110px;
padding-right:10px;
padding-left:10px;
cursor:pointer;
outline: none; 
}

.paginated{
width: 800px;
font-size:.8em;
font-family: Georgia;
border:1px solid #ccc;
border-bottom:none;
border-right:none;
outline: none; 
}


/*Radio Button coding */

 #insured_list tr td:first-child, #insured_list tr th:first-child{
       background-color: white;
       border: none;
       text-align: left;
       }
           
      label input[type="radio"] {
        display: none;
      }
      
      label input[type="radio"] ~ span {
        position: relative;
        display: inline-block;
        padding-left: 0px;
      }
      
      label input[type="radio"] ~ span:before {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        background: #f2f2f2;
        border: 2px solid #999;
        border-radius: 50%;
        left: 0;
        top: 0;
        box-sizing: border-box;
        cursor: pointer;
      }
      
      label input[type="radio"]:checked ~ span:before {
        background-color: #ff3f3f;
         border: 2px solid red;
      }