#lrslides{
	height:472px;
	position:relative;
	overflow:hidden;
}

#lrslides div img{
	width:100%;
}

#lrslides div{
	height:472px;
	list-style:none outside none;
	position:relative;
	width:100%;
}

#lrslides div:first-child{
	display:list-item;
	position:absolute;
}

#lrslides div{
	position:absolute;
	display:none;
}


