
#fancybox-overlay {
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	display: none;
	pointer-events: none; cursor: default;		
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	box-sizing: content-box;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 10001;
	outline: none;
	display: none;
	background: #292929;
	padding-bottom: 50px;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: red;
}

#fancybox-content {
	box-sizing: content-box;
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 10002;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 10001;
}

#fancybox-close {
	position: absolute;
	top: -27px;
	right: -27px;
	width: 83px;
	height: 35px;
	background: transparent url('/nookcove/resources/images/close.png');
	cursor: pointer;
	z-index: 10003;
	display: none;
}


