#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog { 
  height:auto;
  padding:10px;
  background-color:#ffffff;
  font-size: 15pt;
}

.maintext{
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
}

#lorem{
  font-family: "Segoe UI", sans-serif;
  font-size: 12pt;
  text-align: left;
}

#popupfoot{
  font-family: "Segoe UI", sans-serif;
  font-size: 10pt;
  text-align: right;
}

#popupfoot a{
  text-decoration: underline;
  outline:none;
  color:black;
}

img{
  cursor:pointer;
}

#imgmask {
  position:absolute;
  left:0;
  top:0;
  background-color:#000;
  display:none;
} 
 
#imgboxes .window1 {
  position:absolute;
  z-index:9999;
}

#imgboxes #dialog1 { 
 height:auto;
 padding:10px;
 background-color:#ffffff;
 font-size: 15pt;
}
