.rshop_bott_name_text_fl { font: normal 1.2em/1.5em Georgia; color: black; letter-spacing: 2px; text-transform: uppercase; }
	.rshop_bott_name_text_nl { font: normal 1.05em/1.5em Georgia; color: black; letter-spacing: 2px; text-transform: uppercase; }
	
	.rshop_con_brd_heading_dsp h4 { font: 500 1.1em/1.25em Georgia; color: black; letter-spacing: 2px; }
	.rshop_con_cur_brd_fl_dsp { font: 500 1.38em/1.25em Georgia; color: black; letter-spacing: 1px; text-transform: uppercase; }
	.rshop_dsn_con_sub_txt_dsp { font: 500 1.1em/1.25em Georgia; color: black; letter-spacing: 1px; }
	.shop_fund_bott_text_frame_cl { border: none; width: 210px; height: 90px; -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: 0px; border-left: none; border-right: none; border-bottom: none; margin-top: 0px; }
	.shop_funds_top_img_frame { width: 210px; height: 210px; }
	.rshop_pdn_tp_ad { padding: 0px 15px; }
	.rshop_tp_mbmtp { margin-bottom: 5px; margin-top: 0px; }
	
	.big_image_disply_proper_cl { width: 100%; height: auto; max-height: 100vh; object-fit: scale-down; position: relative; object-position: 50% 50%; object-position: 0 0; overflow: auto; overflow-y: hidden; overflow-x: hidden; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 5px 0 rgba(0, 0, 0, 0.25); }
	.big_image_disply_proper_cl:hover { box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 18px 0 rgba(0, 0, 0, 0.35); cursor: pointer; }	
	.reg_dsn_curated_cb_rigtext_dspl { font: 0.9em/1.25em Georgia; color: black; display: block; letter-spacing: 2px; margin-left: 0px; text-transform: uppercase; }
	
	.view_show_image_disply_cl { width: 746px; object-fit: scale-down; position: relative; object-position: 50% 50%; object-position: 0 0; overflow: auto; overflow-y: hidden; overflow-x: hidden; }
	
	.view_product_for_dccb_cl { font: 0.95em/1.25em Georgia; letter-spacing: 1px; color: black; text-transform: uppercase; text-decoration: none; outline: none; }
	.view_product_for_dccb_cl:hover { color: #36669b; text-decoration: none; outline: none; }
	
	.reg_con_cur_bod_submit_Btn { font: 500 0.9em/1.5em Georgia; display: block; margin: 0px auto; vertical-align: middle; background-color: #e7e6e6; color: black; display: inline-block; text-transform: uppercase; padding: 3px 20px; outline: none; border: none; letter-spacing: 2px; cursor: pointer; box-shadow: -2px -2px 3px #bbbbbb; white-space: nowrap; }
	.reg_con_cur_bod_submit_Btn:hover { background-color: #ff3b3b; color: white; cursor: pointer; }
	.reg_con_cur_bod_submit_Btn_flt { font: 500 1.3em/1.5em Georgia; }
	
	.fur_spc_image_frame_dsp { border: 2px solid #595959; width: 270px; height: 200px; }
	.con_images_display_in_middle { width: 270px; height: 200px; display: table-cell; vertical-align: middle; }
	.fur_spc_image_proper_cl { height: 149px; object-fit: scale-down; position: relative; object-position: 50% 50%; }
	.fur_spc_text_frame_dsp { border: 2px solid #595959; width: 270px; height: 170px; margin-top: -2px; }
	
	.fur_spec_prod_name_dspl { font: 500 1.2em/1.4em Georgia; letter-spacing: 0px; color: black; margin-top: -10px }
	.fur_spec_store_name_dspl { font: 500 1em/1.5em Georgia; letter-spacing: 1px; color: black; padding-bottom: 10px; }
	.fur_spec_prod_price_dspl { font: bold 1.15em/2.0em Georgia; letter-spacing: 1px; color: black; }
	
	.reg_fur_spec_submit_Btn { font: 500 0.9em/1.5em Georgia; display: block; margin: 0px auto; vertical-align: middle; background-color: #385a7f; color: white; display: inline-block; text-transform: uppercase; width: 190px; height: 32px; outline: none; border: none; letter-spacing: 2px; cursor: pointer; box-shadow: 2px 2px #bbbbbb; }
	.reg_fur_spec_submit_Btn:hover { background-color: #595959; cursor: pointer; }
	.image_mouse_over_dsp { position: relative; cursor: pointer; }
	.image_mouse_over_dsp:hover { opacity: 0.4; cursor: pointer; outline: none; }
	
	.reg_mid_ita_text_frame_dspl { min-height: 30px; margin-top: 5px;}
	.reg_bott_small_ita_text_dspl { font: italic 1em/1.25em Georgia; color: black; letter-spacing: 1px; vertical-align: middle; padding: 2px 0px; }
	
	.reg_con_bord_top_radio_but_box { background: #e7e6e6; border: 1px solid #e7e6e6; padding: 2px 5px; width: auto; }
	.reg_con_bord_top_txt_fl { font: 1.3em/1.25em Georgia; letter-spacing: 1px; color: black; }
	.reg_con_bord_top_txt_ll { font: 1.05em/1.25em Georgia; letter-spacing: 1px; color: black; }
	
	.reg_dsn_curated_cb_title_text h4 { font: bold 1em/1.25em Georgia; color: black; display: block; border-bottom: 1px solid #ff3b3b; padding-bottom: 5px; letter-spacing: 2px; width: 290px; }
	.reg_dsn_curated_cb_title_fl { font: bold 1.35em/1.25em Georgia; }
	.reg_dsn_curated_cb_title_ll { font: bold 1.0em/1.25em Georgia; }
	
	.shop_add_to_cart_sub_butt { font: 500 1em/1.25em Georgia; letter-spacing: 3px; display: inline-block; text-transform: uppercase; cursor: pointer; outline: none; color: #fff; background-color: #385a7f; border: none; padding: 7px 30px; -webkit-box-shadow: 3px 3px gray; -moz-box-shadow: 3px 3px gray; box-shadow: 3px 3px gray; }
	.shop_add_to_cart_sub_butt:hover { background-color: #494949; color: white; }
	.shop_popup_prod_sub_frame_dsp { border-top: 1px solid black; border-bottom: 1px solid black; min-height: 160px; margin-top: 5px; padding: 10px 0px; }
	
	.shop_text_bottom_frame_align { border: none; height: 220px; width: 219px; -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left: 0px; }
	.reg_popup_prodts_name_hd { font: normal 0.75em/1.5em Georgia; text-align: left; letter-spacing: 1px; color: black; margin-top: -5px; padding-bottom: 15px; text-transform: uppercase; }
	.shop_popup_prod_price_hd { font: bold 0.90em/1.25em Georgia; text-align: left; letter-spacing: 1px; color: black; margin-top: 0px; padding-bottom: 15px; text-transform: uppercase; }
	
	#mask { position:absolute; left:0; top:0; background-color:#000; display:none; } 
	#boxes .window { position:absolute; z-index:9999; }
	#boxes #dialog { height:auto; padding:10px; background-color:#ffffff; font-size: 15pt; }
	#popupfoot{ text-align: right; }
	#popupfoot a{ text-decoration: underline; font-family: sans-serif; font-size: 11pt; outline:none; color:black; }
	#popupImage1Id { border-bottom: 1px solid white; padding-bottom: 5px; }
	#popupImage2Id { border-bottom: 1px solid white; padding-bottom: 5px; }
	#popupImage3Id { border-bottom: 1px solid white; padding-bottom: 5px; }
	#popupImage4Id { border-bottom: 1px solid white; padding-bottom: 5px; }
	
	.mytooltip .mytext { visibility: hidden; width: 320px; background-color: #3c3c3c; color: #fff; z-index: 1; top: -37px; left: 170%; border-radius: 6px; padding: 15px; position: absolute; font: normal 1.15em/1.5em Georgia; text-align: left; letter-spacing: 1px; text-transform: capitalize; box-shadow: 4px 4px #bababa; }
    .mytooltip { position: relative; display: inline-block; margin-left: 50px; } 
    .mytooltip .mytext:after { content: ""; position: absolute; top: 50%; right: 100%; margin-top: -5px; border-width: 6px; border-style: solid; border-color: transparent #3c3c3c transparent transparent; }
    .mytooltip:hover .mytext { visibility: visible; }
    .reg_popup_pro_sub_left_frame_dsp { height: 300px; margin-top: 0px; vertical-align: middle; margin-bottom: 30px; }
    .reg_popup_pro_big_image_disl { height: 310px; object-fit: scale-down; position: relative; object-position: 50% 50%; overflow: auto; overflow-y: hidden; overflow-x: hidden; width: 100%; }
    
    a.reg_cb_learn_more { font: italic 0.85em/1.5em Georgia; letter-spacing: 0px; color: #324f70; white-space: nowrap; text-decoration: underline; }
    a.reg_cb_learn_more:hover { color: red; }
    .first_letter_dsp { font-size: 18px; }
    .promo_codes_text { font: 500 0.90em/1.5em Verdana, Arial, Helvetica, sans-serif; color: white; letter-spacing: 0px; }
    .rshop_scb_bn_pdng { padding: 15px 10px; }
    .rshop_scb_bnr_bordl { border-bottom: 1px dotted white; width: 140px; }
    .rshop_scb_popuptp { width: 500px; height: 400px; display: none; opacity: 0.1; z-index: 10001; }
    .rshop_scb_popup_cls { cursor: pointer; top: 10px; left: -2px;  position: relative; }
    
    .reg_dsn_curated_cb_rigtext_dspl { font: 0.9em/1.25em Georgia; color: black; letter-spacing: 1px; text-transform: uppercase; }
	 
	.image_mouse_over_dsp { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 5px 0 rgba(0, 0, 0, 0.25); position: relative; }	
	.image { opacity: 1; width: 100%; height: auto; transition: .5s ease; backface-visibility: hidden; }
	.middle { transition: .5s ease; opacity: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); text-align: center; }
	.image_mouse_over_dsp:hover { box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 6px 18px 0 rgba(0, 0, 0, 0.35); cursor: pointer; }
	.image_mouse_over_dsp:hover .middle { opacity: 1; }
	.text { background-color: #36669b; font: 500 0.95em/0.25em Georgia; letter-spacing: 1px; color: white; padding: 14px 24px; cursor: pointer; }
	.rshop_top_bgclr { background: #3f586a; height: auto; }
	.rshop_con_dev_adj{ margin-left: 0px; margin-top: 15px; }
	.rshop_tcnt_hd_txt{ margin-top: 5px; margin-right: 20px; }
	
	
	.rshop_con_cur_bod_submit_Btn { font: 500 0.9em/1.5em Georgia; display: block; margin: 0px auto; vertical-align: middle; background-color: #e7e6e6; color: black; display: inline-block; text-transform: uppercase; padding: 3px 25px; outline: none; border: none; letter-spacing: 2px; cursor: pointer; box-shadow: -2px -2px 3px #bbbbbb; white-space: nowrap; }
	.rshop_con_cur_bod_submit_Btn:hover { background-color: #ff3b3b; color: white; cursor: pointer; }
	.rshop_con_cur_bod_submit_Btn_flt { font: 500 1.3em/1.5em Georgia; }
	
		
	.reg_con_bord_top_radio_but_box { background: #e7e6e6; border: 1px solid #e7e6e6; padding: 3px 10px; width: auto; }
	.reg_con_bord_top_txt_fl { font: 1.25em/1.25em Georgia; letter-spacing: 1px; color: black; }
	.reg_con_bord_top_txt_ll { font: 1.0em/1.25em Georgia; letter-spacing: 1px; color: black; }
	.image_disply_proper_cl { width: 100%; height: auto; max-height: 47vh; object-fit: scale-down; position: relative; object-position: 50% 50%; object-position: 0 0; overflow: auto; overflow-y: hidden; overflow-x: hidden; }
	.first_letter_dsp { font-size: 18px;}
	
	.cb_room_selection_text { font: 0.92em/1.6em Georgia; color: black; letter-spacing: 1px; text-transform: uppercase; cursor: pointer; text-decoration: none; outline: none; }
	.cb_room_selection_text:hover { font: 0.92em/1.6em Georgia; color: red; letter-spacing: 1px; text-transform: uppercase; text-decoration: underline; outline: none; }
	.cb_room_selection_text_fl { font: 1.2em/1.6em Georgia; }
	
	.promo_codes_text { font: 500 0.90em/1.5em Verdana, Arial, Helvetica, sans-serif; color: white; letter-spacing: 0px; }