.popup_backgrond_img_display_cl {
	background: #393939; opacity: 1;padding-bottom: 45px; padding-left: 55px; position: fixed; overflow-y: hidden; top: 0; right: 0; bottom: 0; left: 0;
}
.popup_close_butt_dsp {
	cursor: pointer; padding: 5px; opacity: 1;
}
.popup_only_image_display_cl {
	display: none; height: 530px; object-fit: scale-down; position: relative; object-position: 50% 50%; object-position: 0 0; overflow: auto; overflow-y: hidden; overflow-x: hidden;
}
.popup_big_backgrond_display_cl {
	width: auto; color:white; display: none; opacity: 0.8; z-index: 1000;
}


#popUpBigMaskWindowId {
	position:absolute; left:0; top:0; display:none; background: #000000;
}	
#popupTotalWindowBoxId .window {
	position:absolute; z-index:9999;
}	
#popupTotalWindowBoxId #imageBackgroundDspId {   
	width: 100%; height: 100%; background-size: 140%; background-position: center; background-repeat: no-repeat;	    
}